<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 프로파일에 따른 로그 파일 경로 설정 -->
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path" defaultValue="./server_data"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app_testproject.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app_testproject_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread}] [%-5level] (%F:%L) %M [%X{guid}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <!-- 프로파일별 로그 레벨 설정 -->
    <springProfile name="local">
        <logger name="com.practice.testproject" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <logger name="com.practice.testproject" level="INFO"/>
    </springProfile>
</configuration>